{{ partial "header.html" . }}
<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height" style="background: url('/img/flag-timp.jpg') no-repeat 50% 50% transparent;">
  <img class="img-responsive img-center" src="/img/big-logo.png" alt="YAL @ UVU Logo" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; padding: 10px;">
  <h1 style='font-family: "Times New Roman", serif; color: white;'>Young Americans <i>for</i> Liberty<br>at Utah Valley University</h1>
  <p>
    <a href="https://www.facebook.com/groups/145968182184140/" style="color: white; font-size: 300%;"><span class="fa fa-facebook-square"></span></a>
    <a href="mailto:general@yaluvu.club" style="color: white; font-size: 300%;"><span class="fa fa-envelope-square"></span></a>
    <a href="/post/index.xml" style="color: white; font-size: 300%;"><span class="fa fa-rss-square"></span></a>
    <a href="bitcoin:12seF2v4mhyC5Sq9Lb8VWFPpz3cvpufmts" style="color: white; font-size: 300%;"><span class="fa fa-btc"></span></a>
  </p>
</header>

<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Young Americans for Liberty @ Utah Valley University</h1>
        <p class="lead">We are the YAL chapter at UVU. Everyone is welcome. Students, graduates, and community members!</p>
        <p>YAL UVU is a club at Utah Valley University, and is a forum for educating ourselves and others about all things pertaining to liberty, both economic and social.</p>
      </div>
      <div class="col-lg-6">
        <h1>Latest Blog Posts</h1>
        <ul style="list-style-type: none">
          {{ range .Data.Pages }}
            {{ if eq .Type "post" }}
              {{ .Render "li" }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<aside class="image-bg-fixed-height">
</aside>

<!-- Content Section -->
<section style="background-color: #fccb06">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>How can I help?</h1>
        <p class="lead">If you are a student at Utah Valley University and have a love of liberty, or just want to learn more, please <span style="font-size: 110%;">join our club</span>. We need a few more members to be able to re-charter our official status at UVU. You can join the club by going to the Clubs office at UVU, which is in the new Student Live building, and is right next to the ballroom in the Sorensen Center. The official club dues are $5 USD.
        <p>If you are not a student at UVU, we can still use your help. Any participation to organize events, spread materials, and engage the community is appreciated. You can contact us on our <a href="https://www.facebook.com/groups/145968182184140/">Facebook Group</a> or <a href="mailto:general@yaluvu.club?subject=subscribe">subscribe to our mailing list</a>.
        <p>We are in need of funds for activities. Donations can be made by check, please contact us to do so. Or we can accept Bitcoin with the address <span style="font-size: 80%">12seF2v4mhyC5Sq9Lb8VWFPpz3cvpufmts</span>.
        <figure>
          <a href="bitcoin:12seF2v4mhyC5Sq9Lb8VWFPpz3cvpufmts"><img src="/img/bitcoin-qr.svg" width=75%></a>
          <figcaption><a href="bitcoin:12seF2v4mhyC5Sq9Lb8VWFPpz3cvpufmts">Scan or Click to Pay</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<!-- Content Section -->
<section id="related-sites">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Related Sites</h1>
        <p class=lead>There's a wealth of information in the sites linked below.</p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://yaliberty.org/"><img src="/img/yal-transparent-light-small.png" alt="Young Americans for Liberty" title="Young Americans for Liberty"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://yaliberty.org/"><h2 style="line-height: 125px">Young Americans for Liberty</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://www.libertasutah.org"><img src="/img/libertas_logo.png" alt="Libertas Institute" title="Libertas Institute"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://www.libertasutah.org"><h2 style="line-height: 60px">Libertas Institute of Utah</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://mises.org/"><img src="/img/Misescrest.gif" alt="Mises Institute" title="Ludwig von Mises Institute"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://mises.org/"><h2 style="line-height: 257px">Ludwig von Mises Institute</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://fee.org/"><img src="/img/fee_logo.png" alt="Foundation for Economic Education" title="Foundation for Economic Education"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://fee.org/"><h2 style="line-height: 94px">Foundation for Economic Education</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://lewrockwell.com/"><img src="/img/lrc-logo.png" alt="LewRockwell.com" title="LewRockwell.com"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://lewrockwell.com/"><h2 style="line-height: 77px">LewRockwell.com</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://libertyclassroom.com/"><img src="/img/libertyclassroom_logo.png" alt="Liberty Classroom" title="Liberty Classroom"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://libertyclassroom.com/"><h2 style="line-height: 70px">Liberty Classroom</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://ronpaulinstitute.org/"><img src="/img/rpilogo-final.gif" alt="Ron Paul Institute for Peace and Prosperity" title="Ron Paul Institute for Peace and Prosperity"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://ronpaulinstitute.org/"><h2 style="line-height: 94px">Ron Paul Institute</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://tomwoodsradio.com/"><img src="/img/tom_woods_show.jpg" alt="The Tom Woods Show" title="The Tom Woods Show"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://tomwoodsradio.com/"><h2 style="line-height: 170px">Tom Woods Radio</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://antiwar.com/"><img src="/img/antiwar_logo.gif" alt="AntiWar.com" title="AntiWar.com"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://antiwar.com/"><h2 style="line-height: 125px">AntiWar.com</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://tenthamendmentcenter.com/"><img src="/img/tenthamendmentcenter.png" alt="Tenth Amendment Center" title="The Tenth Amendment Center"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://tenthamendmentcenter.com/"><h2 style="line-height: 64px">The Tenth Amendment Center</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://liberty.me/"><img src="/img/liberty-me-logo-beta.png" alt="Liberty.me Beta" style="background-color: #2EACE7; padding: 15px;" title="Liberty.me"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://liberty.me/"><h2 style="line-height: 110px">Liberty.me</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://bitcoin.org/"><img src="/img/bitcoinlogo.svg" alt="Bitcoin" title="Bitcoin"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="https://bitcoin.org/"><h2 style="line-height: 40px">Bitcoin</h2></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://eff.org/"><img src="/img/eff-logo-plain-rgb.png" alt="Electronic Frontier Foundation" title="EFF"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-7">
        <a href="http://eff.org/"><h2 style="line-height: 209px">Electronic Frontier Foundation</h2></a>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

{{ partial "footer.html" . }}
